---
import { Image } from "astro:assets";
import pictureOfWill from "../assets/images/pictureOfWill.webp";
import pictureOfSybil from "../assets/images/sybil.webp";
import * as bioTopSection from "../content/bio/bioTop.md";
const bioTop = bioTopSection.rawContent();
import * as bioBottomSection from "../content/bio/bioBottom.md";
const bioBottom = bioBottomSection.rawContent();
import * as bioSignatureSection from "../content/bio/bioSignature.md";
const bioSignature = bioSignatureSection.rawContent();
---

<section
  id="About"
  class="px-4 py-16 bg-offwhite scroll-m-16 text-black drop-shadow-lg"
>
  <main class="flex flex-col items-center gap-12">
    <h2 class="text-5xl font-bold tracking-wide underline decoration-orangered">
      About
    </h2>
    <div
      class="flex flex-col m-auto lg:flex-row justify-between gap-8 xl:gap-20 items-center"
    >
      <Image
        src={pictureOfWill}
        alt="Will Turner, Owner of Syb Coffee"
        class="w-full max-w-2xl before:content-[''] before:bg-black before:h-full"
      />
      <div class="flex flex-col gap-4 items-center">
        <p
          class="text-left first-letter:font-bold indent-4 text-lg first-letter:text-3xl max-w-prose font-serif drop-shadow-sm"
        >
          {bioTop}
        </p>
        <p
          class="text-left indent-4 text-lg max-w-prose font-serif drop-shadow-sm"
        >
          {bioBottom}
        </p>
        <span class="italic self-start">- {bioSignature}</span>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <figure>
        <Image
          src={pictureOfSybil}
          alt="Sybil the dog"
          class="w-full max-w-lg"
          quality="mid"
        />
        <figcaption class="italic text-lg text-center">
          "Syb" the Blue Heeler
        </figcaption>
      </figure>
    </div>
  </main>
</section>
