---
import { Image } from "astro:assets";
// @ts-ignore
import coffeeGif from "../assets/images/coffee.webm";
import { navItems } from "../consts";
const baseLineStyling = "w-6 h-1 bg-offwhite rounded transition-all ";
const { SYB } = Astro.props;
---

<nav id="navbar" class="navbar bg-royal items-stretch top-0 p-0 sticky z-10">
  {/* Logo */}
  <div class="flex-1 py-2 pl-2">
    <video
      src={coffeeGif}
      class="max-h-10"
      muted
      autoplay
      loop
      playsinline
      disablepictureinpicture></video>
    <a class="btn btn-ghost normal-case text-3xl font-bold text-orangered px-2">
      SYB <Image src={SYB} alt="" class="w-8 -ml-2 -mr-2 inline-block" /> Coffee</a
    >
  </div>

  {/* Hamburger Menu */}
  <div class="flex-none md:hidden">
    <label
      id="toggle-button"
      for="toggle-menu"
      class="btn btn-square btn-ghost drawer-button"
    >
      <div id="menu-button" class="hamburger-menu flex flex-col gap-1">
        <div class={baseLineStyling}></div>
        <div class={baseLineStyling}></div>
        <div class={baseLineStyling}></div>
      </div>
    </label>
  </div>

  {/* Nav list items*/}
  <ul class="hidden md:flex gap-2 items-stretch">
    {
      navItems.map((el) => (
        <a
          href={`#${el}`}
          class="hover:bg-slate flex flex-col justify-center px-2 text-offwhite hover:text-orangered hover:font-bold hover:text-xl rounded"
        >
          <li>{el}</li>
        </a>
      ))
    }
  </ul>
</nav>
<style>
   {
    /* Styling for the hamburger menu transform on click.*/
  }
  .open div div:nth-child(2) {
    opacity: 0;
  }

  .open div div:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }

  .open div div:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
  }
</style>
<script>
  let menu = document.getElementById("toggle-button");
  menu?.addEventListener("click", () => {
    menu?.classList.toggle("open");
  });
</script>
